body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#messages {
  width: 90%;
  height: 400px;
  border: 1px solid #ccc;
  background: white;
  overflow-y: scroll;
  padding: 10px;
  margin-bottom: 10px;
}

#inputBox {
  display: flex;
  gap: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
}
